

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/hunter">My Tasks</a>
      <a mat-list-item href="/projects">Projects</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BisonsUnchained</span>
    </mat-toolbar>

    <p>
      hunter works not!
    </p>
    <p>
      projects works!
    </p>
    <button mat-button (tap)="add('Project')">Add Project</button>
    <button mat-button (tap)="voteOn('Project',1)">VoteOn Project</button>


    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
